/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff0070; 
  --main-title-color: #ffc2e6;
  --bg-title-color: #ff8dcb;/* #FF8DCB */
  --title-color: #353430;
  --title-decor-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decorated-element::before {
  visibility: hidden;
}

.page.theme_light .decorated-element::after {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff0070; 
    --main-title-color: #ffc2e6;
    --bg-title-color: #ff8dcb;/* #FF8DCB */
    --title-color: #353430;
    --title-decor-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
    background-image: url(../images/cover-image-light.png);
  }
  
  .page.theme_auto .decorated-element::before {
    visibility: hidden;
  }
  
  .page.theme_auto .decorated-element::after {
    visibility: hidden;
  }
}