
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  font-family: "IBM Plex Mono", sans-serif;
  background-image: url(../images/cover-image-dark.png);
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: var(--padding);
  height: 100vh;
  min-height: 668px;
  margin-block-end: 40px;
  position: relative;
  margin: 0 auto;
}

.decorated-zone {
  font-family: inherit;
  color: var(--title-color);
  font-size: 18px;
  line-height: 100%;
}

.decorated-element::before {
  content: "rec";
  text-transform: uppercase;
  position: absolute;
  display: flex;
  line-height: 25px;
  inset-block-start: var(--padding);
  inset-inline-end: calc(var(--padding) + 28px);
}

.decorated-element::after {
  content: "";
  position: absolute;
  display: inline-block;
  inset-block-start: calc(var(--padding) + 8px);
  inset-inline-end: calc(var(--padding) + 9px);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 4px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  display: flex;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--title-color);
  border-inline-end: 1px solid var(--title-color);
  position: absolute;
  inset-block-start: var(--padding);
  inset-inline-end: var(--padding);
}

.decorated-zone::after {
  content: "";
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--title-color);
  border-inline-start: 1px solid var(--title-color);
  inset-block-end: var(--padding);
  inset-inline-start: var(--padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  margin-block-start: 9.43113772vh;
}

.header__theme-menu-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  width: 70px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--title-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--title-color);
}

.heading {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin-block-start: 10.1796407vh;
}

.header__title {
  /* font-size: (7.25rem, 7.0115rem + 1.0178vw, 7.5rem); */
  font-size: var(--header-font-size);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 82.5%;
  margin-block-end: 8.38323353vh;
}

.content__title {
  color: var(--title-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 130% */
}

.content__article {
  margin-block-end: var(--content-section-margin);
}

.content__article .content__title {
  margin-block-start: 20px;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--bg-title-color);
  font-weight: 700;
  line-height: 130%;
}

.section-why {
  margin-block-start: 40px;
}

.content__card {
  margin-block-start: 20px;
}

.content__section {
  padding-inline: var(--padding);
}

.content__subtitle {
  font-weight: 400;
  line-height: 130%;
  font-size: 18px;
  margin-block-end: 10px;
}

.content__text {
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-block-start: 10px;
}

.content__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--bg-title-color);
}

.content__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content__text-link:focus {
  outline: none;
}

.content__text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 40px;
  margin-block-start: 10px;
  grid-template-rows: auto;
  gap: 10px;
}

.content__gallery-image {
  width: 100%;
}

.footer {
  display: flex;
  position: relative;
  padding: var(--padding);
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  align-items: center;
}

.footer__title {
  display: flex;
  font-size: var(--header-font-size);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width >= 500px) {
  :root {
    --padding: 20px;
    --content-section-margin: 80px;
    --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .heading {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    margin-block-start: 17.1875vh;
  }

  .header__title {
    grid-column: 1 / span 2;
    margin-inline-start: -20px;
    margin-block-end: 15.8203125vh;
  }

  .title-decor {
    grid-column: 2;
  }

  .header__theme-menu-list {
    margin-block-start: 16.6015625vh;
  }

  .section-why {
    margin-block-start: 60px;
  }

  .section-why .content__card:first-child {
    margin-block-start: 0;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: start;
    column-gap: 20px;
  }

  .section-causes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: start;
    column-gap: 20px;
  }

  .content__section .content__title:first-child {
    grid-row: 1 / -1;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .section-causes .content__article {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .section-causes .content__article .content__title {
    margin-block-start: 20px;
  }

  .section-pictures {
    display: block;
  }

  .content__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-block-start: var(--padding);
    margin-block-end: 60px;
  }

  .content__gallery-image {
    height: 100%;
    object-fit: cover;
  }

  .content__gallery-image:nth-child(1) {
    grid-column: span 2;
  }

  .content__gallery-image:nth-child(2) {
    grid-row: span 2;
    /* margin-right: -20px; */
  }

  .content__gallery-image:nth-child(3) {
    grid-row: span 2;
  }

  .content__gallery-image:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  :root {
    --header-font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  .header__theme-menu-list {
    margin-block-start: 0;
    flex-direction: row;
    justify-content: center;
  }

  .heading {
    margin-block-start: 35.546875vh;
  }

  .header__title {
    margin-block-end: 14.843375vh;
  }

  .content__section {
    grid-template-columns: 315px 649px;
    justify-content: center;
  }

  .section-causes {
    grid-template-columns: repeat(3, 315px);
  }

  .section-causes .content__article {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    column-gap: 20px;
  }

  .section-causes .content__article .content__card {
    grid-column: auto;
    margin-block-start: 0;
  }

  .section-causes .content__article .content__text {
    margin-block-start: 10px;
  }
}
